<ion-header>
  <ion-toolbar>
    <ion-title>Personal Progress</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/main/info">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>#</ion-col>
      <ion-col>Date</ion-col>
      <ion-col>Weight ({{weightUnit}})</ion-col>
      <ion-col>Weight Loss ({{weightUnit}})</ion-col>
      <ion-col>Weigh Loss (%)</ion-col>
      <ion-col>Charge</ion-col>
      <ion-col>Comment</ion-col>
    </ion-row>
    <ion-row *ngFor="let p of progress">
      <ion-col>{{p.id}}</ion-col>
      <ion-col>{{p.weightDateDate | date: 'mediumDate'}}</ion-col>
      <ion-col>{{(p.weightMeasure === 0) ? '?' : (p.weightMeasure | number: '1.1-1')}}</ion-col>
      <ion-col>{{(p.id === 1 || p.weightMeasure === 0) ? 'N.A.' : p.weightLoss | number: '1.1-1'}}</ion-col>
      <ion-col>{{(p.id === 1 || p.weightMeasure === 0) ? 'N.A.' : p.percentageLoss | number: '1.1-1'}}</ion-col>
      <ion-col>{{(p.charge === 0)? '' : p.charge | number: '1.2-2'}}</ion-col>
      <ion-col>{{p.description}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>