<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header (click)="toggleShowGamesCard()">
      <ion-card-title >Games Stats</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="showGamesCard"></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header (click)="toggleShowMembersCard()">
      <ion-card-title >Members Stats</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="showMembersCard"></ion-card-content>
  </ion-card>

  <ion-spinner name="bubbles" class="overlay-spinner" *ngIf="showSpinner"></ion-spinner>
</ion-content>