<ion-header>
  <ion-toolbar>
    <ion-title>Payment</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/main/play">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="paymentFormGroup" *ngIf="memberId > 0">
    <ion-item>
      <ion-label position="floating">Amount paid:</ion-label>
      <ion-input formControlName="amountPaid" clearInput type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Payment date:</ion-label>
      <ion-datetime 
          formControlName="paymentDate" 
          displayFormat="YYYY-MM-DD"
          clearInput>
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Receipt picture: {{fileName || 'enter image or pdf file'}}</ion-label>
      <ion-button (click)="inputFile.click()">
        <ion-icon lazy="true" slot="icon-only" fill="clear"></ion-icon>
      </ion-button>
        <input class="ion-hide" #inputFile type="file" (change)="loadImage($event)" id="file-input" accept="image/*, application/pdf">
    </ion-item>

    <ion-button (click)="enterPayment()" [disabled]="paymentFormGroup.invalid" margin-top expand="full">
      SEND PAYMENT
    </ion-button>
  </form>

  <ion-item *ngIf="memberId === 0" color="warning">
    <ion-label>Sorry, member not found.</ion-label>
  </ion-item>

  
</ion-content>