<ion-header>
  <ion-toolbar>
    <ion-title>Select a Game</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Select a Game</ion-card-subtitle>
      <ion-card-title>There is no game chosen</ion-card-title>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Apply to a Game</ion-card-subtitle>
      <ion-card-title>There is no game chosen</ion-card-title>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>
</ion-content>