<ion-header>
  <ion-toolbar>
    <ion-title>Select the game you want to play:</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/home']">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isGameSelected">
    <ion-row>
      <ion-col size="1">Id</ion-col>
      <ion-col size="3">Name</ion-col>
      <ion-col size="3">Start Date</ion-col>
      <ion-col size="3">End Date</ion-col>
      <ion-col size="2">Weight Frequency</ion-col>
    </ion-row>
    <ion-row *ngFor="let game of games" (click)="selectGame(game)">
      <ion-col size="1">{{game.id}}</ion-col>
      <ion-col size="3">{{game.gameName}}</ion-col>
      <ion-col size="3">{{game.startDate | date: 'mediumDate'}}</ion-col>
      <ion-col size="3">{{game.endDate | date: 'mediumDate'}}</ion-col>
      <ion-col size="2">{{game.weightFrequency}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="isGameSelected">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="1">Id</ion-col>
          <ion-col size="3">Name</ion-col>
          <ion-col size="3">Start Date</ion-col>
          <ion-col size="3">End Date</ion-col>
          <ion-col size="2">Weight Frequency</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">{{selectedGame.id}}</ion-col>
          <ion-col size="3">{{selectedGame.gameName}}</ion-col>
          <ion-col size="3">{{selectedGame.startDate | date: 'mediumDate'}}</ion-col>
          <ion-col size="3">{{selectedGame.endDate | date: 'mediumDate'}}</ion-col>
          <ion-col size="2">{{selectedGame.weightFrequency}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-button (click)="updateCurrentGame()" [disabled]="showSpinner" size="default" slot="end">APPLY</ion-button>
        <ion-button (click)="clearSelection()" [disabled]="showSpinner" size="default" slot="end">CLEAR</ion-button>
      </ion-item>
    </ion-item>
  </ion-list>
  <ion-spinner name="bubbles" class="overlay-spinner" *ngIf="showSpinner"></ion-spinner>
</ion-content>
