<ion-header>
  <ion-toolbar color="warning">
    <ion-title>FireFat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="play" [disabled]="!hasCurrentGame">
        <ion-icon name="play-outline"></ion-icon>
        <ion-label>Play</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info" [disabled]="!hasCurrentGame">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="message" [disabled]="!hasCurrentGame">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Message</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>