<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>FireFat</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="play">
        <ion-icon name="play-outline"></ion-icon>
        <ion-label>Play</ion-label>
      </ion-tab-button>
      <!-- <ion-tab-button tab="cash">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Finance</ion-label>
      </ion-tab-button> -->
      <ion-tab-button tab="result">
        <ion-icon name="medal-outline"></ion-icon>
        <ion-label>Results</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="feed">
        <ion-icon name="mail-outline"></ion-icon>
        <!-- <ion-icon name="people-outline"></ion-icon> -->
        <ion-label>Feed</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>