<!-- <ion-header>
  <ion-toolbar>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card [routerLink]="['/main/info', 'personal-progress']">
    <ion-card-header>
      <!-- <ion-card-subtitle>You are playing:</ion-card-subtitle> -->
      <ion-card-title>Personal Progress</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      5.7% is your current percentual weight loss
    </ion-card-content> -->
  </ion-card>

  <ion-card [routerLink]="['/main/info', 'group-ranking']">
    <ion-card-header>
      <!-- <ion-card-subtitle>You are playing:</ion-card-subtitle> -->
      <ion-card-title>Group Ranking</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      Edna is leading the championship, your position is 7th.
    </ion-card-content> -->
  </ion-card>

  <ion-card [routerLink]="['/main/info', 'prize']">
    <ion-card-header>
      <!-- <ion-card-subtitle>You are playing:</ion-card-subtitle> -->
      <ion-card-title>Prize</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      The total prize is $ 140.00 so far.
    </ion-card-content> -->
  </ion-card>

  <ion-card [routerLink]="['/main/info', 'about-firefat']">
    <ion-card-header>
      <!-- <ion-card-subtitle>You are playing:</ion-card-subtitle> -->
      <ion-card-title>About FireFat</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      Get to know more about this app.
    </ion-card-content> -->
  </ion-card>


</ion-content>