<ion-content>
  <ion-card [routerLink]="['/main/info', 'personal-progress']">
    <ion-card-header>
      <ion-card-title>Personal Progress</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card [routerLink]="['/main/info', 'group-ranking']">
    <ion-card-header>
      <ion-card-title>Group Ranking</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card [routerLink]="['/main/info', 'prize']">
    <ion-card-header>
      <ion-card-title>Prize</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card [routerLink]="['/main/info', 'about-firefat']">
    <ion-card-header>
      <ion-card-title>About FireFat</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>