<ion-header>
  <ion-toolbar>
    <ion-title>Vacation</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/main/play">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="selectedDateId === 0">
    <ion-item>
      <ion-label>Game's Weight Dates</ion-label>
    </ion-item>
    <ion-item *ngFor="let d of weightDates" (click)="selectDate(d)">
      <ion-label>{{d.scheduledDate}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="selectedDateId > 0">
    <ion-label>Vacation start date: {{selectedDate}}</ion-label>
    <ion-button (click)="clearSelection()" slot="end">CLEAR</ion-button>
  </ion-item>
  <ion-button (click)="setVacationDate()" *ngIf="selectedDateId > 0" margin-top expand="full">SET VACATIOM
  </ion-button>
</ion-content>