<ion-content>

  <ion-card [routerLink]="['/main/play', 'weight']">
    <ion-card-header>
      <ion-card-title>Weight</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card [routerLink]="['/main/play', 'payment']">
    <ion-card-header>
      <ion-card-title>Payment</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card [routerLink]="['/main/play', 'vacation']">
    <ion-card-header>
      <ion-card-title>Vacation</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card [routerLink]="['/main/play', 'group-leader']" *ngIf="isGroupLeader">
    <ion-card-header>
      <ion-card-title>Leader Duties</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>