<ion-header>
  <ion-toolbar>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Weight</ion-card-title>
      <ion-img src="../../assets/img/vintage-doctor-scale.jpg"></ion-img>
    </ion-card-header>
    <!-- <ion-card-content>
      <ion-item>
        Enter Weight: ____
      </ion-item>
      <ion-item>
        Weight Goal: xx
      </ion-item>
      <ion-item>
        Last Measure: yy (Month day)
      </ion-item>
      <ion-item>
        Initial Weight: zz (Month day)
      </ion-item>
    </ion-card-content> -->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vacation</ion-card-title>
      <ion-img src="../../assets/img/holiday-suitcase-14633017939Ur.jpg"></ion-img>
    </ion-card-header>
    <!-- <ion-card-content>
      <ion-img src="../../assets/img/holiday-suitcase-14633017939Ur.jpg"></ion-img>
      <ion-item>
        Vacation Start Date: TBD
      </ion-item>
      <ion-item>
        (Month day)
      </ion-item>
      <ion-item>
        (Month day)
      </ion-item>
      <ion-item>
        (Month day)
      </ion-item>
      <ion-item>
        (Month day)
      </ion-item>
    </ion-card-content> -->
  </ion-card>
</ion-content>