<ion-header>
  <ion-toolbar>
    <ion-title>Finance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/img/business-finances.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>Balance</ion-label>
    </ion-item>

    <ion-card-content>
      $ xx.xx is your current debt
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/img/old-chimpanzee-11298298953dvv.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>Payments</ion-label>
      <!-- <ion-icon [name]="this.paymentIcon" slot="end" (click)="paymentDetail()"></ion-icon> -->
    </ion-item>

    <ion-card-content>
      $ yy.yy you have paid so far
    </ion-card-content>
    <!-- <ion-button>Enter Payment</ion-button> -->

    <!-- <div *ngIf="this.showPayments">
      <ion-grid>
        <ion-row>
          <ion-col>Month day</ion-col>
          <ion-col>$ xx</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Month day</ion-col>
          <ion-col>$ xx</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Month day</ion-col>
          <ion-col>$ xx</ion-col>
        </ion-row>
      </ion-grid>
    </div> -->

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/img/leeuwen-in-artis-15.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>Fees</ion-label>
    </ion-item>
    <ion-card-content>
      $ zz.zz is your total fee so far
    </ion-card-content>
  </ion-card>

</ion-content>