<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signupFormGroup">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password1" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Re-enter Password</ion-label>
      <ion-input formControlName="password2" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-spinner name="bubbles" *ngIf="showSpinner"></ion-spinner>
      <ion-button (click)="register()" [disabled]="signupFormGroup.invalid || showSpinner" size="default" slot="end">
        Register
      </ion-button>
    </ion-item>
  </form>
</ion-content>