<ion-header>
  <ion-toolbar>
    <ion-title>Apply to a Game</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/home']">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="selectedGameId === 0">
    <ion-row>
      <ion-col size="1">Id</ion-col>
      <ion-col size="3">Name</ion-col>
      <ion-col size="3">Start Date</ion-col>
      <ion-col size="3">End Date</ion-col>
      <ion-col size="2">Weight Frequency</ion-col>
    </ion-row>
    <ion-row *ngFor="let game of games" (click)="selectGame(game)">
      <ion-col size="1">{{game.id}}</ion-col>
      <ion-col size="3">{{game.gameName}}</ion-col>
      <ion-col size="3">{{game.startDate | date: 'mediumDate'}}</ion-col>
      <ion-col size="3">{{game.endDate | date: 'mediumDate'}}</ion-col>
      <ion-col size="2">{{game.weightFrequency}}</ion-col>
    </ion-row>
  </ion-grid>
  
  <form [formGroup]="memberFormGroup" *ngIf="selectedGameId > 0">
    <!-- <ion-item button (click)="selectGameModal()">
      <ion-label>Select a game</ion-label>
      <ion-icon name="search" slot="end"></ion-icon>
    </ion-item> -->
    <ion-item>
      <ion-label>Selected game: {{selectedGameId}} - {{selectedGameName}}</ion-label>
      <ion-button (click)="clearSelection()" slot="end">CLEAR</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Weight goal ({{selectedGameWeightUnit}}):</ion-label>
      <ion-input formControlName="weightGoal" clearInput type="number"></ion-input>
    </ion-item>
    <ion-button (click)="applyToAGame()" [disabled]="memberFormGroup.invalid || showSpinner" margin-top expand="full">Apply
    </ion-button>
  </form>
  <ion-spinner name="bubbles" class="overlay-spinner" *ngIf="showSpinner"></ion-spinner>
</ion-content>