<ion-header>
  <ion-toolbar>
    <ion-title>Apply to a Game</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/home']">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-textarea #newMessage rows="1" cols="50" placeholder="Message"></ion-textarea>
    <ion-spinner name="bubbles" *ngIf="showSpinner"></ion-spinner>
    <ion-button (click)="filterList(newMessage.value)" [disabled]="newMessage.value === '' || showSpinner" class="ion-margin-top">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="clearGameFilter()" [disabled]="showSpinner" class="ion-margin-top">
      Show All
    </ion-button>
  </ion-item>


  <ion-grid *ngIf="selectedGameId === 0">
    <ion-row>
      <ion-col size="1">Id</ion-col>
      <ion-col size="3">Name</ion-col>
      <ion-col size="3">Start Date</ion-col>
      <ion-col size="3">End Date</ion-col>
      <ion-col size="2">Weight Frequency</ion-col>
    </ion-row>
    <ion-row *ngFor="let game of filteredGames" (click)="selectGame(game)">
      <ion-col size="1">{{game.id}}</ion-col>
      <ion-col size="3">{{game.gameName}}</ion-col>
      <ion-col size="3">{{game.startDate | date: 'mediumDate'}}</ion-col>
      <ion-col size="3">{{game.endDate | date: 'mediumDate'}}</ion-col>
      <ion-col size="2">{{game.weightFrequency}}</ion-col>
    </ion-row>
  </ion-grid>
  
  <form [formGroup]="memberFormGroup" *ngIf="selectedGameId > 0">
    <ion-item>
      <ion-label>Selected game: {{selectedGameId}} - {{selectedGameName}}</ion-label>
      <ion-button (click)="clearSelection()" slot="end">CLEAR</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Weight goal ({{selectedGameWeightUnit}}):</ion-label>
      <ion-input formControlName="weightGoal" clearInput type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="applyToAGame()" [disabled]="memberFormGroup.invalid || showSpinner" size="default" slot="end">APPLY</ion-button>
    </ion-item>
  </form>
  <ion-spinner name="bubbles" class="overlay-spinner" *ngIf="showSpinner"></ion-spinner>
</ion-content>