<ion-header>
  <ion-toolbar>
    <ion-title>Apply to a Game</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/home']">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid> *ngIf="!isGameSelected"
    <ion-row>
      <ion-col>Game Id</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Start Date</ion-col>
      <ion-col>End Date</ion-col>
      <ion-col>Weight Frequency</ion-col>
    </ion-row>
    <ion-row *ngFor="let game of games" (click)="selectGame(game)">
      <ion-col>{{game.id}}</ion-col>
      <ion-col>{{game.gameName}}</ion-col>
      <ion-col>{{game.startDate}}</ion-col>
      <ion-col>{{game.endDate}}</ion-col>
      <ion-col>{{game.weightFrequency}}</ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="memberFormGroup" *ngIf="isGameSelected">
    <!-- <ion-item button (click)="selectGameModal()">
      <ion-label>Select a game</ion-label>
      <ion-icon name="search" slot="end"></ion-icon>
    </ion-item> -->
    <ion-item>
      <ion-label>Selected game: {{selectedGame.id}} - {{selectedGame.gameName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Weight goal ({{selectedGame.weightUnit}}):</ion-label>
      <ion-input formControlName="weightGoal" clearInput type="number"></ion-input>
    </ion-item>
    <ion-button (click)="applyToAGame()" [disabled]="memberFormGroup.invalid" margin-top expand="full">Apply
    </ion-button>
  </form>
</ion-content>