<ion-content>

  <ion-card routerLink="./current-game">
    <ion-card-header>
      <ion-card-title>Current Game</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="./apply-game">
    <ion-card-header>
      <ion-card-title>Apply to a Game</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/main/home', 'create-game']">
    <ion-card-header>
      <ion-card-title>Create a New Game</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="./user-profile">
    <ion-card-header>
      <ion-card-title>Profile</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="presentAdminUserModal()" *ngIf="isAppAdmin">
    <ion-card-header>
      <ion-card-title>Admin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

</ion-content>